.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--light-grey-1);
    box-shadow: var(--dark-shadow);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: white;
    border-bottom: var(--light-grey-2);
}

.content{
    display: flex;
}

.sidebar {
    background-color: var(--dark-grey-1);

    flex: 0 0 18%;
}

.hotel-view {
    background-color: orange;
    flex: 1;
}